<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>BiteRecipe uses the camera to scan printed recipes from cookbooks and recipe cards.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>BiteRecipe accesses your photo library so you can import a photo of a recipe.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ridepro.biterecipe</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>biterecipe</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.ridepro.biterecipe.bundle</string>
			<key>UTTypeDescription</key>
			<string>BiteRecipe Recipe Bundle</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>biterecipe</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.ridepro.biterecipe+zip</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.ridepro.biterecipe.bundle</string>
			<key>UTTypeDescription</key>
			<string>BiteRecipe Recipe Bundle</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>biterecipe</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.ridepro.biterecipe+zip</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>BiteRecipe Recipe Bundle</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.ridepro.biterecipe.bundle</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
