<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>RecipeCard uses the camera to scan printed recipes from cookbooks and recipe cards.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>RecipeCard accesses your photo library so you can import a photo of a recipe.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ridepro.recipecard</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>recipecard</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
